/*1. Selecciona los elementos div que sean hijos de otro div*/
div div{
    color:red;
}
/*2.Selecciona los elementos hijos de los elementos p*/
p > {
    color: red;
}

/*3. Selecciona los elementos p que sean hijos de article*/

article > p{
    color: red;
}

/*4. Selecciona los p que esten dentro de un article*/
article p{
    color:red;
}

/*5. Selecciona los titulos h1 y los h3*/
h1, h3{
    color:red;
}

/*6.Selecciona los ol que esten dentro de body*/
body ol{
    color: red;
}

/*7. Cualquier elemento que tenga la clase "amarillo"*/
.amarillo{
    color: yellow;
}

/*8.Los elementos <ul> que sean hijos de <body>*/
body > ul{
    color: gold;
}

/*9.Los elementos <a> que sean hijos de <p>*/
p > a{
    color: purple;
}

/*10. Selecciona el elemento con id "platano"*/
#platano{
    color: blanchedalmond;
}

/*11.Todos los elementos <div> que sean hermanos de un <h2>*/
div ~ h2{
    color:red;
}
/*12.Todos los elementos <p> con clase="paisa", descendientes de un elemento <ul>*/
ul p.paisa{
    color: green;
}

/*13. Selecciona los <h1>, <h2>m <h3> que tengan la clase "headertitle" hijos del header*/
header > h1.headetitle, h2.headertitle, h3.headertitle{
    color: blueviolet;
}